@media screen and (max-width: 1650px) {
  .about-img {
    margin-left: 2%;
  }
  .men {
    margin-left: 5%;
  }
  .phone {
    padding-left: 875px;
    margin-top: -355px;
    width: 71%;
  }
  .about-text h3,
  .service-text h3,
  .devices-text h3,
  .what-text h3,
  .team-text h3,
  .work-text h3,
  .people-text h3,
  .blog-text h3 {
    padding-top: 55px;
  }
  .about-text h2::after,
  .service-text h2::after,
  .devices-text h2::after,
  .what-text h2::after,
  .team-text h2::after,
  .work-text h2::after,
  .people-text h2::after,
  .blog-text h2::after {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .about-text p,
  .what-text p,
  .team-text p,
  .work-text p {
    padding-bottom: 50px;
  }
  .about-img {
    padding-bottom: 50px;
  }
  .service {
    padding-top: 0;
}
@media screen and (max-width: 1564px) {
  .blog-item {
    padding-left: 8%;
  }
  .blog-item p {
    max-width: 140%;
  }
  .phone {
    padding-left: 850px;
}
@media screen and (max-width: 1540px) {
  .phone {
    padding-left: 785px;
  }
  .about-text h3,
  .service-text h3,
  .devices-text h3,
  .what-text h3,
  .team-text h3,
  .work-text h3,
  .people-text h3,
  .blog-text h3 {
    padding-top: 40px;
  }
  .about-text h2::after,
  .service-text h2::after,
  .devices-text h2::after,
  .what-text h2::after,
  .team-text h2::after,
  .work-text h2::after,
  .people-text h2::after,
  .blog-text h2::after {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .about-text p,
  .what-text p,
  .team-text p,
  .work-text p {
    padding-bottom: 40px;
  }
  .about-img {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 1497px) {
  .follow {
    margin-left: 5%;
    width: 85%;
  }
  .follow-inst {
    width: 28%;
  }
  .progress_bar_item {
    margin-left: 25%;
    width: 68%;
  }
  .team-img {
    margin-left: 6%;
  }
}
@media screen and (max-width: 1457px) {
  .progress_bar_item {
    margin-left: -5%;
  }
  .about-img_items {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1440px) {
  .phone {
    padding-left: 785px;
    margin-top: -239px;
    width: 69%;
  }
  .about-img {
    margin-left: 0;
  }
}
@media screen and (max-width: 1430px) {
  .blog-item {
    padding-left: 5%;
    margin-left: 20px;
  }
  .blog-item p {
    max-width: 120%;
  }
  .service-list {
    margin-left: 8%;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .service-list:last-child {
    padding-top: 20px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 1330px) {
  .wrapper {
    max-width: 1000px;
  }
  .wrapper h2 {
    font-size: 6.0rem;
  }
  .wrapper h1 {
    font-size: 9.0rem;
    letter-spacing: 5px;
    line-height: 95px;
  }
  .blog-item {
    padding-left: 3%;
    margin-left: 15px;
  }
  .blog-item p {
    max-width: 100%;
  }
  .men {
    margin-left: 1%;
  }
  .phone {
    padding-left: 730px;
  }
  .about-img_items {
    margin-left: 25px;
  }
}
@media screen and (max-width: 1285px) {
  .team-img {
    margin-left: 2%;
  }
}
@media screen and (max-width: 1265px) {
  .wrapper {
    padding-top: 265px;
  }
}
@media screen and (max-width: 1250px) {
  .blog-item {
    padding-left: 0;
    margin-left: 15px;
  }
  .blog-item p {
    max-width: 100%;
  }
  .about-counter_text p {
    padding-top: 35px;
  }
  .about-counter_text {
    padding-bottom: 35px;
  }
  .phone {
    padding-left: 663px;
  }
  .team-img {
    margin-left: 1%;
  }
  .about-img_items {
    margin-left: 8px;
  }
  .hipster {
    margin-top: 100px;
  }
  .people-wrapper {
    margin-left: 10%;
    width: 85%;
  }
}
@media screen and (max-width: 1216px) {
  .men {
    display: none;
  }
  .accordion {
    float: none;
    margin-right: 0;
    margin: 0 auto;
  }
  .team-img {
    margin-left: 0;
  }
}
@media screen and (max-width: 1205px) {
  .progress_bar_item {
    padding-top: 35px;
  }
  .blog-item {
    width: 340px;
  }
  .blog-item a img {
    width: 100%;
  }
  .blog-item p {
    max-width: 100%;
  }
  .about-counter_text p {
    font-size: 1.2rem;
  }
  .phone {
    padding-left: 622px;
  }
  .team-img_items {
   float: none;
  }
  .team-img {
    margin-left: 33%;
  }
  .team-img_items {
    margin-bottom: 100px;
  }
  .team-img_items span,
  .team-img_items p {
    text-align: left;
    display: inline-block;
  }
  .about-img {
    display: block;
    margin: 0 auto;
    width: 390px;
  }
  .about-img_items {
    float: none;
  }
  .about-text p,
  .what-text p,
  .team-text p,
  .work-text p {
    padding-bottom: 25px;
  }
  .about-img_items {
    margin-bottom: 15px;
  }
  .about-img {
    padding-bottom: 15px;
  }
  .hipster {
    margin-top: -33px;
  }
  .people-item {
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 1153px) {
  .follow {
    margin-left: 3%;
    width: 95%;
  }
  .follow-inst {
    width: 30%;
  }
  .phone {
    padding-left: 577px;
  }
  .men-accordion {
    padding-bottom: 60px;
  }
  .people-wrapper {
    margin-left: 1%
  }
}
@media screen and (max-width: 1090px) {
  .wrapper {
    max-width: 860px;
  }
  .wrapper h1 {
    font-size: 8.0rem;
    letter-spacing: 4px;
    padding-top: 0;
  }
  .blog-item {
    width: 380px;
    margin: 0 auto;
    margin-left: 320px;
  }
  .blog-item a img {
    width: 380px;
  }
  .blog-item p {
    max-width: 100%;
  }
  .view, .comment {
    padding-bottom: 30px;
  }
  input[type="email"] {
    width: 191px;
  }
  .about-counter_text p {
    font-size: 1.1rem;
  }
  .about-counter_text p span {
    font-size: 6.0rem;
  }
  .phone {
    padding-left: 562px;
    width: 68%;
  }
  .slider p {
    font-size: 2.0rem;
    padding-left: 170px;
  }
  .team-img {
    margin-left: 25%;
  }
  .people-item {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1020px) {
  .progress_bar_item {
    margin-left: 37%;
    width: 60%;
  }
  .wrapper {
    max-width: 740px;
  }
  .wrapper h1 {
    font-size: 7.0rem;
  }
  .about-counter_items {
    width: 117%;
     padding-left: 0;
  }
  .phone {
    padding-left: 544px;
    width: 70%;
  }
  .work-hover {
    padding-top: 0;
  }
  .follow-inst {
    margin-left: 20px;
    width: 36%
  }
  input[type="email"] {
    width: 135px;
  }
  .follow-mogo_item a {
    margin-left: 5px;
}
@media screen and (max-width: 950px) {
  .wrapper {
    padding-top: 165px;
  }
  .about-text h3,
  .service-text h3,
  .devices-text h3,
  .what-text h3,
  .team-text h3,
  .work-text h3,
  .people-text h3,
  .blog-text h3 {
    padding-top: 50px;
    padding-bottom: 5px;
  }
  .service-list {
    margin-left: 0;
  }
  .phone {
    display: none;
  }
  .slider p {
    font-size: 1.7rem;
/*    padding-top: 30px;*/
  }
  .slider span {
    margin-bottom: 30px;
  }
  .people-item p:last-child {
    font-size: 1.3rem;
  }
  .people-wrapper {
    padding-top: 25px;
  }
  .blog-item {
    margin-left: 225px;
  }
}
@media screen and (max-width: 880px) {
  .follow {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 820px) {
  .wrapper {
    max-width: 640px;
  }
  .wrapper h1 {
    font-size: 6.0rem;
    letter-spacing: 1px;
  }
  .progress_bar_item {
    margin-left: 20%;
  }
  .about-text p,
  .what-text p,
  .team-text p,
  .work-text p {
    padding-bottom: 30px;
  }
  .hipster {
    margin-top: 0;
  }
  .work-img-list-item.list-item-big ul {
    width: 100%;
  }
  .blog-item {
    margin-left: 165px;
  }
}
@media screen and (max-width: 715px) {
  .wrapper {
    max-width: 440px;
  }
  .wrapper h1 {
    font-size: 5.0rem;
    line-height: 65px;
  }
  .wrapper h2 {
    font-size: 4.0rem;
  }
  .progress_bar_item li {
    padding-top: 0;
  }
  .about-text h2::after,
  .service-text h2::after,
  .devices-text h2::after,
  .what-text h2::after,
  .team-text h2::after,
  .work-text h2::after,
  .people-text h2::after,
  .blog-text h2::after {
    margin-top: 22px;
    margin-bottom: 31px;
  }
  .about-counter_text p {
    font-size: 0.91rem;
  }
  .service-list_items p {
    font-size: 1.3rem;
    padding-left: 60px;
  }
  .service-list_items {
     width: 87%;
     display: block;
  }
  .accordion {
    width: 480px;
  }
  .men-accordion {
    padding-bottom: 30px;
  }
  .slider p {
    font-size: 1.5rem;
  }
  .work-hover p {
    font-size: 1.2rem;
  }
  .work-hover p span {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 610px) {
  .about-counter_text p span {
    font-size: 3.0rem;
  }
  .slider p {
    display: none;
  }
  .message {
    margin-left: 28%;
  }
  .team-img {
    margin-left: 13%;
  }
  .work-hover p {
    display: none;
  }
/*  .work-hover p span {
    display: none;
  }*/
  .work-hover p.img {
    display: block;
  }
  .people-item {
    float: none;
  }
  .people-item {
    width: 100%;
  }
  .blog-item {
    margin-left: 70px;
  }
}
@media screen and (max-width: 515px) {
  .wrapper {
    max-width: 340px;
    padding-top: 125px;
  }
  .wrapper h1 {
    font-size: 3.0rem;
  }
  .wrapper h2 {
    font-size: 2.0rem;
  }
  .line {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .about-text h3,
  .service-text h3,
  .devices-text h3,
  .what-text h3,
  .team-text h3,
  .work-text h3,
  .people-text h3,
  .blog-text h3 {
    padding-top: 40px;
    padding-bottom: 3px;
  }
  .about-text p,
  .what-text p,
  .team-text p,
  .work-text p {
    padding-bottom: 30px;
    width: 90%;
    line-height: 18px;
  }
  .accordion {
    width: 410px;
  }
  .team-img {
    margin-left: 4%;
  }
  .slider span {
    font-size: 2.1rem;
  }
  .blog-item {
    margin-left: 0;
}
@media screen and (max-width: 440px) {
  .accordion {
    width: 360px;
  }
  .message {
    margin-left: 16%;
  }
    .team-img {
    margin-left: 0;
  }
}
@media screen and (max-width: 410px) {
  .wrapper {
    max-width: 240px;
    padding-top: 110px;
  }
  .wrapper h1 {
    font-size: 2.0rem;
  }
  .wrapper h2 {
    font-size: 1.5rem;
  }
  .line {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .about-text h2::after,
  .service-text h2::after,
  .devices-text h2::after,
  .what-text h2::after,
  .team-text h2::after,
  .work-text h2::after,
  .people-text h2::after,
  .blog-text h2::after {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about-img_items a:hover {
    box-shadow: none;
    transform: none;
  }
  .about-img_items a:hover::before {
    background: none;
  }
  .about-img_items a img {
    width: 93%;
  }
  .about-img_items {
    width: 80%;
    margin-bottom: -37px;
  }
  .about-counter_text p span {
    font-size: 2.5rem;
  }
  .about-text h3,
  .service-text h3,
  .devices-text h3,
  .what-text h3,
  .team-text h3,
  .work-text h3,
  .people-text h3,
  .blog-text h3 {
    font-size: 2.2rem;
    padding-top: 20px;
  }
  .about-text h2,
  .service-text h2,
  .devices-text h2,
  .what-text h2,
  .team-text h2,
  .work-text h2,
  .people-text h2,
  .blog-text h2 {
    font-size: 2.6rem;
  }
  .blog-item a img {
    width: 85%;
  }
  .blog-item p {
    width: 85%;
  }
}
@media screen and (max-width: 390px) {
  .accordion {
    width: 300px;
  }
  .slider span {
    font-size: 1.9rem;
    padding-left: 0;
  }
  .slider span::before {
    background-image: none;
  }
  .message {
    margin-left: 7%;
  }
  .blog-item a img {
    width: 75%;
  }
  .blog-item p {
    width: 75%;
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    max-width: 190px;
    padding-top: 100px;
  }
  .wrapper h1 {
    line-height: 35px;
  }
  .about-counter_items {
    width: 113%;
}
