figure {
  font-size: 300px;
  text-align: center;
  font-size: 19px;
}
img {
  width: 300px;
  border: 4px double;
  color: #f0f;
}
a:hover {
  text-decoration: none;
}
a {
  color: #006400;
}
footer {
  text-align: center;
  border-bottom: 2px dashed #000000;
}
